/* Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
.header {
    display: flex;
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: var(--white);
    border: 1px solid red;

    .header-container-logo{
        padding: .5rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        .toggle-menu {
            cursor: pointer;
            margin: 1rem;
            @media screen and (min-width: 768px) {
                display: none;     
            }  
        }
    }

    .header-container-navbar {
        display: flex;

        .navbar-menu{
            list-style: none;
            display: flex;
            flex-direction: column;
        
        @media screen and (min-width: 768px) {
                flex-direction: row;        
        }  

            .navbar-menu__item {
            padding: .75rem;

                .navbar-menu__link{
                    color: var(--dark-grayish-blue);
                    text-decoration: none;
                }
            }
        }
    }
}